.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products{
    border-right: 2px solid rgb(201, 199, 199);
    margin-right: 10px;
    margin-left: 200px;
}
.search{
    background-color: rgba(0, 0, 0, 0.664);
    text-align: center;
    line-height: 50px;
}
.search-input{
    width: 40%;
    height: 20px;
}
.pagination{margin: 30px;}
.pagination button{
    margin-right: 30px;
   
    padding: 5px 20px;
}
.selected{
    background-color: rgb(223, 32, 70);
    color: white;
}